<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>KreptPhotgraphy_Booking</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/booking.css">
	
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
    <body>

         <div class="container-fluid main-content">
            <nav class="my-navbar navbar navbar-default">
                <!--logo-->
                <div class="row row-nav">
                    <div class="col-lg-12">
                         <!--menu items-->
                        <ul class="nav navbar-nav navbar-right">
                            <li><a class="app-nav" href="index.html">Home</a></li>
                            <li class="menu-item dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gallery<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="menu-item dropdown dropdown-submenu">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wedding</a>
                                        <ul class="dropdown-menu">
                                            <li class="menu-item ">
                                                <a class="#" href="formal.html">Formal</a>
                                            </li>
                                            <li class="menu-item ">
                                                <a href="traditional.html">Traditional</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li><a class="app-nav" href="Port&Model.html">Model &amp; Portrait</a></li>
                                    <li><a class="app-nav" href="frames.html">Frames</a></li>
                                </ul>
                            </li>
                            <li class="active"><a href="booking.html">Booking</a></li>
                            <li><a href="#">Edit Here</a></li>
                            <li><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                </nav>     
      
       
                <h1>Book Online<center><hr></center></h1>
                <div class="container-fluid sub-content">
                    <div class="row">
                        <div class="col-lg-4 first">
                            <a href="#"><img src="images/IMG_7640.jpg" class="img-responsive" alt="responsive image" height="200px" width="auto"></a>       
                                <center><h3>Wedding Collection</h3></center>
                                    <center><h4>1hr| introductory meeting</h4></center>
                                    <center>
                                        <div class="btn">
                                         <a class="btn btn-default" href="#" role="button">Let's Talk</a>	
                                        </div>
                                    </center>
                        </div>
                    
                        <div class="col-lg-4 mid">
                            <a href="#"><img src="images/IMG_8720.jpg" class="img-responsive" alt="responsive image" height="200px" width="auto"></a>
                            <center><h3>Model Collection</h3></center>
                                    <center><h4>1hr| introductory meeting</h4> </center>
                                    <center>
                                        <div class="btn">
                                         <a class="btn btn-default" href="#" role="button">Let's Talk</a>	
                                        </div>
                                    </center>
                        </div>
                    
                        <div class="col-lg-4 last">
                            <a href="#"><img src="images/IMG_6309.jpg" class="img-responsive" alt="responsive image" height="200px" width="auto"></a>
                                <center><h3>Portrait Collection</h3></center>
                                    <center><h4>1hr| introductory meeting</h4></center>
                                    <center>
                                        <div class="btn">
                                         <a class="btn btn-default" href="#" role="button">Let's Talk</a>
                                        </div>
                                    </center>                 
                        </div>
                    </div>       
                </div>

                <div class="row">
                    <center>
                        <div class="col-lg-12 footer">
                        <a href="#"><span class="glyphicon glyphicon-menu-up" style="margin-top:40px" aria-hidden="true"></span></a>
                    </div>
                    </center>     
                </div>
         
        </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.js"></script>
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>